*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: black;
}
body{
  width: 100%;
  overflow-x: hidden;
}

/* BACKGROUND IMAGE */
.background-image{
  position: fixed;
  top: -25px;
  left: 8%;
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-image: url('./IMG_9276.JPG');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/* NAV LINK */
nav {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #9e9e9e;
  font-weight: 400;
  font-family: 'Spectral', serif;
}
.active {
  color: #ad5b17;
}
/* CONTAINER */
#container{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
section{
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.167);
}

/* SECTION 1 */
.section1-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.section1__links{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  height: 250px;
  gap: 50px;
  margin-right: 1%;
}
.section1__links a{
  color: #ad5b17;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Spectral', serif;
  transition-property: scale;
}
.section1__links a:hover{
  scale: 1.05;
}
.section1__content{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}
.section1__content h1{
  font-family: 'Gloock', serif;
  color: white;
  font-size: 70px;
  margin-bottom: 17px;
  max-width: 465px;
}
.section1-line{
  background-color: #ad5b17;
  height: 2px;
  border-radius: 15px;
  width: 30%;
  margin-bottom: 13px;
}
.contact{
  color: white;
  font-size: 20px;
  height: auto;
  font-family: 'Spectral', serif;
}
.email{
  color: #9e9e9e;
  font-size: 20px;
  margin-top: 4px;
  font-family: 'Spectral', serif;
}

/* SECTION 2 */
.section2-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.section2__content{
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}
.section2__content h1{
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Gloock', serif;
}
.section2__content p{
  color: #9e9e9e;
  font-size: 20px;
  margin-bottom: 4px;
  font-family: 'Spectral', serif;
  padding-right: 25px;
}
.section2-line{
  background-color: #ad5b17;
  height: 2px;
  border-radius: 15px;
  width: 30%;
  margin-top: 13px;
  margin-bottom: 13px;
}
.down-cv{
  color: #ad5b17;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  width: 120px;
  font-family: 'Spectral', serif;
  transition-property: scale;
}
.down-cv:hover{
  scale: 1.05;
}

/* SECTION 3 */
.section3-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.section3__content{
  width: 57%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section3__content h1{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Gloock', serif;
  margin: auto;
}
.section3-line{
  background-color: #ad5b17;
  height: 2px;
  border-radius: 15px;
  width: 30%;
  margin-bottom: 20px;
  margin: auto;
}

.swiper {
  display: none;
  width: 350px;
  margin: 0;
}
.swiper-slide a img{
  width: 100%;
}

.swiper-slide{
  color: white;
}
.swiper-button-prev, 
.swiper-button-next{
  --swiper-navigation-size: 20px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #ad5b17;
}
.works-desktop{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
  height: 100%;
}
.works-desktop a img{
  max-width: 230px;
  border-radius: 8px;
}
.works-desktop-container-1{
  display: flex;
  justify-content: space-evenly;
}
.works-desktop-container-2{
  display: flex;
  justify-content: space-evenly;
}
.desktop-card-1,
.desktop-card-2,
.desktop-card-3,
.desktop-card-4{
  display: flex;
  min-width: 230px;
  flex-direction: column;
  align-items: flex-start;
}
.desktop-card-1 span,
.desktop-card-2 span,
.desktop-card-3 span,
.desktop-card-4 span{
  color: #9e9e9e;
  font-size: 17px;
  margin-bottom: 4px;
  font-family: 'Spectral', serif;
  max-width: 230px;
  letter-spacing: -1px;
}
.desktop-card-1 p,
.desktop-card-2 p,
.desktop-card-3 p,
.desktop-card-4 p {
  color: white;
  font-size: 20px;
  margin-bottom: 4px;
  font-family: 'Spectral', serif;
}
/* SECTION 4 */
.section4-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.section4__content{
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
}
.section4__content h1{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Gloock', serif;
}
.write-email{
  color: #ad5b17;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Spectral', serif;
}
.write-email:hover{
  scale: 1.01;
}
.section4__content p{
  color: #9e9e9e;
  font-size: 20px;
  margin-bottom: 4px;
  font-family: 'Spectral', serif;
}

@media (max-width:768px){
  /* NAV LINK */
  nav {
    position: fixed;
    top: 8%;
    left: 4%;
    transform: translateY(-50%);
    padding: 0px;
    border-radius: 5px;
    z-index: 1;
  }
  nav ul{
    display: flex;
  }
  nav ul li {
    margin-right: 12px;
  }
  /* SECTION 1 */
  .section1-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .section1__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    margin-left: 4%;
    font-size: 17px;
    gap: 6px;
    height: 330px;
  }
  .section1__content{
    width: 100%;
    margin-left: 4%;
    margin-top: 5px;
  }
  .section1__content h1{
    font-size: 45px;
    width: 95%;
  }
  .contact{
    font-size: 19px;
  }
  .email{
    font-size: 15px;
  }
  /* SECTION 2 */
  .section2-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .section2__content{
    width: 100%;
    margin-left: 4%;
    height: 58%;
  }
  .section2__content h1{
    font-size: 30px;
  }
  .section2__content p{
    color: white;
    font-size: 15px;
    width: 90%;
    max-width: 400px;
  }
  /* SECTION 3 */
  .section3-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
  .section3__content{
    width: 100%;
    margin-left: 4%;
    height: 55%;
  }
  .section3__content h1{
    font-size: 30px;
    margin: 0;
  }
  .section3-line{
    margin: 0;
  }
  .swiper {
    display: block;
    width: 300px;
    margin-top: 35px;
  }
  .works-desktop{
    display: none;
  }

  /* SECTION 4 */
  .section4-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }
  .section4__content{
    width: 100%;
    margin-left: 4%;
    height: 35%;
  }
  .section4__content h1{
    font-size: 30px;
  }
  .section4__content a{
    font-size: 17px;
  }
  .section4__content p{
    font-size: 17px;
  }
}